<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between mb-6 flex-wrap">
    <h1 class="font-bold text-3xl mb-6">Edit cook_method</h1>
    <% if @cook_method.persisted? %>
    <%= button_to 'Destroy', @cook_method, method: :delete, class: "text-red-700 underline", data: { turbo_confirm: 'Are you sure?' } %>
    <% end %>
  </div>

  <%= render 'form', cook_method: @cook_method %>
</div>
